button {
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
button:hover {
  background-color: rgb(173, 173, 173);
}

button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.wrapper {
  display: grid;
  grid-auto-columns: minmax(auto, 300px);
  text-align: center;
}
.buttons {
  display: grid;
  gap: 1em 0.5em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, minmax(50px, auto));
  font-weight: bolder;
}
.buttons > div {
  padding: 1em;
}
.num {
  background: #eeeeee;
}
.operator {
  background: #eeeeee;
}
.wrapper > div {
  background: #565656;
  padding: 1em;
}
