.wrapper{
  display:grid;
  grid-gap:.5em;
  grid-auto-columns: minmax(auto, 300px);
  text-align: center;
}
.nested{
  display:grid;
  grid-gap:.5em;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,minmax(40px, auto));
}
.nested > div{

  padding:1em;
}
.controls{
  background: #09F6C2;;
}
.nums{
  background: #09B3F6
}
.operators{
  background: #09F6C2;
}
.wrapper > div{
  background: #093DF6;
  padding:1em;
}
[id = '7'] {
  grid-column: 1/1;
  grid-row: 1/1;
}
[id = '8'] {
  grid-column: 2/3;
  grid-row: 1/1;
}
[id = '9'] {
  grid-column: 3/4;
  grid-row: 1/1;
}
[id = '/'] {
  grid-column: 4/5;
  grid-row: 1/1;
}
[id = '4'] {
  grid-column: 1/2;
  grid-row: 2/3;
}
[id = '5'] {
  grid-column: 2/3;
  grid-row: 2/3;
}
[id = '6'] {
  grid-column: 3/4;
  grid-row: 2/3;
}
[id = '*'] {
  grid-column: 4/5;
  grid-row: 2/3;
}
[id = '1'] {
  grid-column: 1/2;
  grid-row: 3/4;
}
[id = '2'] {
  grid-column: 2/3;
  grid-row: 3/4;
}
[id = '3'] {
  grid-column: 3/4;
  grid-row: 3/4;
}
[id = '-'] {
  grid-column: 4/5;
  grid-row: 3/4;
}
[id = '1'] {
  grid-column: 1/2;
  grid-row: 3/4;
}
#input {
  text-align: right;
  color: #B3F40B;
  font-weight: 900;
}