* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  font-size: 1rem;
  border-radius: 5px;
  background-color: white;
  margin: 2px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

button:active {
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

button:focus {
  outline: 0;
}

input {
  font-size: 2rem;
  text-align: right;
  font-weight: 900;
  margin-bottom: 1rem;
  max-width: 200px;
  padding: 0.5rem 0.5rem 0.5rem 0.1rem;
  border: none;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
}

.wrapper {
  /* background: #190850; */
  padding: 1rem;
  padding-bottom: 1rem;
  border-radius: 3px;
  border: 1px solid black;
}

.digit {
  /* background: #29d688; */
}

.operator {
  /* background: #d68829; */
}

.point {
  /* background: #d68829; */
}
